* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;


    font-size: 10px;
    font-family: sans-serif;

}

body {
    background-color: gray;


    nav {
        background-color: rgba(158, 37, 83, 0.856);

        ul {
            list-style: none;
            text-decoration: none;
            text-transform: uppercase;
            margin-right: 3rem;
            display: block;
            width: 12rem;
            display: flex;

            li {
                display: flex;
                flex-direction: row;
                display: block;
                margin-right: 2rem;
                padding:1rem;
            }
            li:hover{
                background-color: darkcyan;

            }
            a {
                text-decoration: none;
                font-size: 2rem;
                
            }
        }
    }

    header{
        background-color: deepskyblue;
        position: relative;
        height: 100rem;
    }
}